*{
    margin: 0;
    padding: 0;
    list-style: none;
    
}


.container{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.burger {

    border: 2px solid black;
   border-radius: 14px;
    background-color: rgb(255, 254, 252);
    color: rgb(239, 180, 31);
    width: 50px;
    height: 50px;
    right: 20px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
}

.nav{
    width: 100%;
}
.nav{ 
   display: none;

}

.nav a {
text-decoration: none;
color: antiquewhite;
}




.nav.active{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    
    
}



/****************************slider***********************/


.slider ul{
    display: flex;
    
}

.slider img{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);

   
}

img{
   position: absolute;
   height: 200px;
   width: 300px;
}


.box{
    height: 500px;
}

button{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    font-size: 24px;
    background: none;
    border: none;
    color: antiquewhite;
}
#next{

    transform: translatex(133px);
}

#prev{
    transform: translatex(-140px);
}
.slider ul li{
    list-style: none;
    opacity: 0;
  }
  
  /* active */
  .slider ul li.active{
   opacity: 1;
  }